{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <title>PrioSort</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Crea sorteos con prioridad">

    <script type="text/javascript">
        window.addEventListener("load", function () { document.querySelector('body').classList.add('loaded'); });
    </script>

    <!-- Styles -->
    <link rel="stylesheet" type="text/css"
        href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/excite-bike/jquery-ui.css">
    <link href='{% static "css/styles.nonminimized.css" %}' rel="stylesheet" type="text/css" media="all" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,400i,600,700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href='/static/img/logos/favicon.png' />
</head>

<body>
    <div class="loader">
        <div class="loading-animation"></div>
    </div>
    <section class="bg-orange p-0 o-hidden">
        <div class="container min-vh-100 d-flex flex-column justify-content-between py-4 py-md-5">
            <!-- Header -->
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-9 col-md-10 text-center">
                    <a href="/" class="fade-page text-center">
                        <img src="/static/img/logos/logo.svg" alt="PrioSort" width="60%">
                    </a>
                </div>
            </div>

            <!-- Content -->
            <div class="my-5">
                {% block content %}
                {% endblock %}
                <div class="row justify-content-center pt-4">
                    <a href="https://mianfg.me"><img style="width: 250px;"
                            src="https://mianfg.me/static/img/branding/logos/withlove.svg"></a>
                </div>
            </div>

            <!-- Footer -->
            <div class="text-muted text-white text-center">
                <a href="https://github.com/mianfg/priosort" target="_blank" role="button"
                    class="selectable btn btn-sm btn-outline-light fade-page"><i
                        class="fa fa-github mr-2"></i>Ver código en GitHub</a>
            </div>
        </div>
    </section>

    {% block modals %}
    {% endblock %}

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.15.0/js/mdb.min.js"></script>
    <!-- jQuery UI -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.4/jquery-ui.js"></script>
    <!-- FontAwesome (from CDN) -->
    <script src="https://kit.fontawesome.com/e560e492be.js" crossorigin="anonymous"></script>
    <!-- App -->
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
    {% block script %}
    {% endblock %}
</body>

</html>