{% extends 'base.html' %}

{% block content %}
<div class="col text-center text-white">
    <div class="row justify-content-center">
        <div class="col">
            <div class="card card-body bg-white justify-content-around align-items-center">
                <div class="col-8">
                    <h1>Crea sorteos con prioridad</h1>
                    <p class="mb-4">Un sorteo con prioridad asigna items a personas, teniendo en cuenta sus prioridades. Es una forma justa, fácil y rápida de repartir cosas que te importan</p>
                    <a type="button" href="/nuevo" class=" btn btn-primary btn-lg">Crear sorteo<i class="fa fa-plus ml-4"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}